h1 {
    text-align: center;
    margin-bottom: 2%;
    color: rgba(34, 125, 170, 1);
    color: -moz-linear-gradient(top, rgba(34, 125, 170, 1) 0%, rgba(81, 172, 205, 1) 100%);
    color: -webkit-linear-gradient(top, rgba(34, 125, 170, 1) 0%, rgba(81, 172, 205, 1) 100%);
    color: -o-linear-gradient(top, rgba(34, 125, 170, 1) 0%, rgba(81, 172, 205, 1) 100%);
    color: -ms-linear-gradient(top, rgba(34, 125, 170, 1) 0%, rgba(81, 172, 205, 1) 100%);
    color: linear-gradient(to bottom, rgba(34, 125, 170, 1) 0%, rgba(81, 172, 205, 1) 100%);
}


td {

    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 1.5em;
}

table {
    padding-left: 20%;
    border-collapse: collapse;
}

#demo {
    text-align: center;
}

h1 {
    text-align: center;
}

.test1 {
    pointer-events: none;
}

.test2 {
    pointer-events: auto;
}

.panel {

    -webkit-transition: width 8s ease, height 8s ease;
    -moz-transition: width 8s ease, height 8s ease;
    -o-transition: width 8s ease, height 8s ease;
    transition: width 8s ease, height 8s ease;
}